<?xml version="1.0"?>
<robot name="gen3" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find kinova_task_space_controller)/urdf/gen3.urdf.xacro" />

    <arg name="simulation" default="false"/>

    <link name="world"/>
    <joint name="kinova_base_link" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="arm_base_link"/>
    </joint>

    <xacro:load_arm parent="" dof="7" simulation="$(arg simulation)" vision="true" prefix="arm_">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:load_arm>
</robot>