<launch>
    <node pkg="force_torque_sensor_calib" type="ft_calib_node" name="ft_calib"  output="screen" ns="my_gen3">
        <rosparam command="load" file="$(find sensor_tools)/config/ft_calibration_kinova.yaml"/>
        <param name="ft_raw_topic" value="/rokubimini/ft_sensor0/ft_sensor_readings/wrench"/>
        <param name="imu_topic" value="/kinova_ros_control/imu" />
    </node>
</launch>