<?xml version="1.0"?>
<robot name="gen3" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find kinova_description_for_controllers)/urdf/gen3.urdf.xacro" />

    <arg name="simulation" default="false"/>
    <arg name="prefix"     default="arm_" />
    <arg name="gripper"    default="false" />

    <link name="world"/>
    <joint name="kinova_base_link" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="$(arg prefix)base_link"/>
    </joint>

    <xacro:load_arm parent="" dof="7" simulation="$(arg simulation)" vision="true" prefix="$(arg prefix)">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:load_arm>

    <xacro:if value="$(arg gripper)">
        <xacro:include filename="$(find kinova_description_for_controllers)/urdf/robotiq_2f_fixed.xacro"/>
    </xacro:if>
</robot>