<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node name="interactive_marker_node" pkg="robot_control_ros" type="interactive_marker.py" output="screen">
        <param name="subscribe_initial_pose"  value="true"/>
        <param name="initial_pose_topic"      value="/current_pose"/>
        <param name="frame_id"                value="arm_base_link"/>
        <param name="target_pose_topic"       value="/target_pose"/>
    </node>
</launch>