<?xml version="1.0" encoding="UTF-8"?>
<launch>


    <include file="$(find kinova_controllers)/launch/run_sim_common.launch">
        <arg name="run_rviz"    value="false"/>
    </include>

    <include file="$(find robot_control_assets)/launch/load_object.launch">
        <arg name="object"  value="valve"/>
        <arg name="x"       value="0.8"/>
        <arg name="y"       value="0.0"/>
        <arg name="z"       value="0.2"/>
        <arg name="roll"    value="3.14"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinova_sim)/config/valve_config.rviz"/>

</launch>