<?xml version="1.0" encoding="UTF-8"?>
<launch>


    <arg name="robot_name"  value="my_gen3"/>
    <arg name="prefix"      default="arm_"/>
    <arg name="gripper"     default="robotiq_2f_85"/>
    <arg name="debug"       default="false"/>
    <arg name="run_rviz"     default="true"/>

    <!-- Load additional custom controllers -->
    <group ns="$(arg robot_name)">
        <rosparam command="load" file="$(find kinova_controllers)/config/ros_control.yaml" subst_value="true"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"/>
              <!--args="controller name -/-stopped"/ -->
    </group>

    <include file="$(find kinova_sim)/launch/spawn_kortex_gazebo.launch">
        <arg name="robot_name"  value="$(arg robot_name)"/>
        <arg name="prefix"      value="$(arg prefix)"/>
        <arg name="gripper"     value="$(arg gripper)"/>
        <arg name="gazebo_gui"  value="false"/>
        <arg name="debug"       value="$(arg debug)"/>
    </include>

    <!-- Controller manager gui -->
    <node name="rqt_controller_manager" type="rqt_controller_manager" pkg="rqt_controller_manager"/>


    <!-- Start RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinova_sim)/config/config.rviz" if="$(arg run_rviz)"/>
</launch>