<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Load additional custom controllers -->
    <arg name="robot_name"  default="my_gen3"/>
    <arg name="prefix"      value="arm_"/>

    <group ns="$(arg robot_name)">
        <rosparam command="load" file="$(find kinova_controllers)/config/ros_control.yaml" subst_value="true"/>
    </group>

    <!-- Controller manager gui -->
    <node name="rqt_controller_manager" type="rqt_controller_manager" pkg="rqt_controller_manager"/>

    <!-- Joint state plotting -->
    <node name="joint_positions_plot" pkg="rqt_multiplot" type="rqt_multiplot"
          args="--multiplot-config $(find kinova_controllers)/config/rqt_joint_positions.xml"
          output="screen"/>

   <node name="joint_velocities_plot" pkg="rqt_multiplot" type="rqt_multiplot"
          args="--multiplot-config $(find kinova_controllers)/config/rqt_joint_velocities.xml"
          output="screen"/>
    
    <node name="joint_efforts_plot" pkg="rqt_multiplot" type="rqt_multiplot"
          args="--multiplot-config $(find kinova_controllers)/config/rqt_joint_efforts.xml"
          output="screen"/>


    <!-- A world link exists only in the simulation urdf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_base_broadcaster"
          args="0 0 0 0 0 0 world arm_base_link" />

</launch>