<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="rviz"        default="false"/>
    <arg name="test"        default="false"/>

    <arg name="end_effector_frame"  default="arm_tool_frame"/>
    <arg name="reference_frame"     default="arm_base_link"/>

    <node pkg="kinova_controllers" type="trajectory_generator.py" name="trajectory_generator" output="screen">
        <param name="valve_radius"          value="0.05"/>
        <param name="end_effector_frame"    value="$(arg end_effector_frame)"/>
        <param name="reference_frame"       value="$(arg reference_frame)"/>
        <param name="dt"                    value="0.1"/>
        <param name="max_velocity_rad_s"    value="0.1"/>
    </node>

    <node name="rviz"   pkg="rviz"  type="rviz" output="screen" args="-d $(find kinova_controllers)/config/config.rviz"
          if="$(arg rviz)"/>

    <node name="ref_ee_bc"  type="static_transform_publisher"  pkg="tf2_ros"
          args="0.2 0 0.5 0 2.14 0 $(arg reference_frame) $(arg end_effector_frame)" if="$(arg test)"/>
    <node name="world_ref_bc"  type="static_transform_publisher"  pkg="tf2_ros"
          args="1 0 0 0 0 0 world $(arg reference_frame)" if="$(arg test)"/>

</launch>
