<launch>
    <!-- Robot description for MPC -->
    <arg name="task_file" default="$(find kinova_mpc_controllers)/config/task.info"/>
    <param name="robot_description_mpc"
           command="$(find xacro)/xacro --inorder $(find kinova_description_for_controllers)/urdf/kinova.urdf.xacro"/>
    <param name="task_file" value="$(arg task_file)"/>

    <!-- Load controllers -->
    <arg name="namespace" default=""/>
    <arg name="simulation" default="true"/>
    <arg name="prefix" default=""/>
    <group ns="$(arg namespace)">
        <rosparam file="$(find kinova_mpc_controllers)/config/controllers.yaml" command="load" subst_value="true"/>

        <!-- Load only MPC Controller -->
        <node name="mpc_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              output="screen" args="--stopped mpc_velocity_controller"/>
    </group>
</launch>