<launch>
    <arg name="dof" default="6"/>

    <arg name="task_folder" default="mpc/6dof" if="$(eval arg('dof') == 6)"/>
    <arg name="task_folder" default="mpc/7dof" if="$(eval arg('dof') == 7)"/>

    <!-- Robot description for MPC -->
    <arg name="urdf"       default="$(find ocs2_mobile_manipulator_example)/urdf/mobile_manipulator.urdf.xacro"/>
    <param name="robot_description_mpc" command="$(find xacro)/xacro --inorder $(arg urdf) dof:=$(arg dof)"/>
    <param name="task_folder" value="$(arg task_folder)"/>

    <!-- Gazebo simulation -->
    <include file="$(find ocs2_mobile_manipulator_example)/launch/gazebo.launch">
        <arg name="dof" value="$(arg dof)"/>
        <arg name="run_gui" value="false"/>
    </include>

    <!-- Load controllers -->
    <rosparam file="$(find ocs2_mobile_manipulator_example)/config/$(arg task_folder)/controllers.yaml" command="load"/>
    <node name="lowlevel_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller joints_position_controller"/>

    <!-- Controller manager gui -->
    <node name="rqt_controller_manager" type="rqt_controller_manager" pkg="rqt_controller_manager"/>

    <!-- Publis state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" value="100"/>
        <param name="use_tf_static"     value="true"/>
        <remap from="robot_description" to="/robot_description"/>
        <remap from="joint_states"      to="/joint_states"/>
    </node>

    <!-- Interactive reference -->
    <node pkg="ocs2_mobile_manipulator_example" type="mobile_manipulator_target" name="mobile_manipulator_target"
          output="screen" args="$(arg task_folder)"/>

    <!-- RViz -->
    <arg name="rvizconfig"  default="$(find ocs2_mobile_manipulator_example)/rviz/mobile_manipulator.rviz"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen"/>
</launch>