<?xml version="1.0"?>
<launch>
    <arg name="description_for_moveit" default="/my_gen3/robot_description"/>
    <arg name="launch_apriltag" default="true"/>
    <arg name="launch_gripper" default="true"/>
    <arg name="launch_ft_sensor" default="true"/>

    <!-- Remap description for moveit commander -->
    <param name="/moveit_planner/description_name" value="$(arg description_for_moveit)"/>
    <param name="/moveit_planner/namespace" value="my_gen3"/>
    <param name="/moveit_planner/arm_group_name" value="arm"/>


    <!-- MPC controllers -->
    <include file="$(find kinova_mpc_controllers)/launch/controller.launch">
        <arg name="prefix" value="arm_"/>
        <arg name="simulation" value="$(arg simulation)"/>
        <arg name="namespace" value="my_gen3"/>
    </include>
    
    <!--    Force sensor and filtering/compensation relay node-->
    <group if="$(arg launch_ft_sensor)">
      <include file="$(sensor_tools)/launch/ft_sensor_standalone.launch"/>
      <node name="reflex_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              output="screen" args="reflex_controller"/>
    </group>
    
    <!-- Reflex controller -->
    <include file="$(find kinova_reflex_controller)/launch/load_params.launch">
        <arg name="namespace" value="my_gen3"/>
    </include>

    <!--    Gripper control-->
    <group if="$(arg launch_gripper)">
        <include file="$(find robotiq_2f_gripper_action_server)/launch/robotiq_2f_gripper_action_server.launch">
            <arg name="gripper_name" value="/my_gen3/arm_robotiq_2f_85_gripper_controller/gripper_cmd"/>
        </include>
    </group>

    
    <!--   Apriltag detection -->
    <group if="$(arg launch_apriltag)">
        <include file="$(find kinova_valve_opening)/apriltag/apriltag_detection.launch"/>
    </group>
    <group unless="$(arg launch_apriltag)">
        <node name="valve_broadcaster" type="static_transform_publisher" pkg="tf2_ros"
              args="-0.14509 0.55719 0.18251 0.707 0 0 0.707 arm_base_link valve_base"/>
    </group>
    

</launch>