<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Load additional custom controllers -->
    <arg name="robot_name"  default="my_gen3"/>
    <arg name="prefix"      value="arm_"/>
    <arg name="simulation"  value="false"/>
    <arg name="plot"        default="false"/>

    <group ns="$(arg robot_name)">
        <rosparam command="load" file="$(find kinova_common)/config/ros_control.yaml" subst_value="true"/>
    </group>

    <!-- Controller manager gui -->
    <node name="rqt_controller_manager" type="rqt_controller_manager" pkg="rqt_controller_manager"/>

    <!-- MPC Stuff -->
    <param name="robot_description_mpc"
           command="$(find xacro)/xacro --inorder $(find kinova_description_for_controllers)/urdf/kinova.urdf.xacro"/>
    <arg name="task_file" value="$(find kinova_mpc_controllers)/params/task.info"/>
    <param name="task_file" value="$(arg task_file)"/>
    <node pkg="ocs2_mobile_manipulator_example" type="mobile_manipulator_target" name="mobile_manipulator_target"
          output="screen" args="$(arg task_file)"/>

    <!-- Plots -->
    <group if="$(arg plot)">
        <node name="joint_positions_plot" pkg="rqt_multiplot" type="rqt_multiplot"
              args="--multiplot-config $(find kinova_common)/config/rqt/rqt_joint_positions.xml"
              output="screen"/>

       <node name="joint_velocities_plot" pkg="rqt_multiplot" type="rqt_multiplot"
              args="--multiplot-config $(find kinova_common)/config/rqt/rqt_joint_velocities.xml"
              output="screen"/>

        <node name="joint_efforts_plot" pkg="rqt_multiplot" type="rqt_multiplot"
              args="--multiplot-config $(find kinova_common)/config/rqt/rqt_joint_efforts.xml"
              output="screen"/>

        <node name="external_wrench_plot" pkg="rqt_multiplot" type="rqt_multiplot"
              args="--multiplot-config $(find kinova_common)/config/rqt/rqt_external_wrench.xml"
              output="screen"/>
    </group>

    <!-- A world link exists only in the simulation urdf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_base_broadcaster"
          args="0 0 0 0 0 0 world arm_base_link" />


</launch>